 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C68AEE;
active-foreground: #FAEED6;
normal-background: #131415;
normal-foreground: #FAEED6;
urgent-background: #B1BDCC;
urgent-foreground: #FAEED6;

alternate-active-background: #E05F65;
alternate-active-foreground: #FAEED6;
alternate-normal-background: #131415;
alternate-normal-foreground: #FAEED6;
alternate-urgent-background: #131415;
alternate-urgent-foreground: #FAEED6;

selected-active-background: #C68AEE;
selected-active-foreground: #131415;
selected-normal-background: #C68AEE;
selected-normal-foreground: #131415;
selected-urgent-background: #E05F65;
selected-urgent-foreground: #131415;

background-color: #131415;
background: rgba(0,0,0,0.7);
foreground: #FAEED6;
border-color: #C68AEE;

color0: #3B3B3C;
color1: #0D0F13;
color2: #373E4B;
color3: #A8474C;
color4: #9568B3;
color5: #858E99;
color6: #B59B67;
color7: #F0DFBC;
color8: #A89C84;
color9: #111419;
color10: #495364;
color11: #E05F65;
color12: #C68AEE;
color13: #B1BDCC;
color14: #F1CF8A;
color15: #F0DFBC;


}

