 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
    /* Base Catppuccin Mocha */
    cat-base: rgba(30, 30, 46, 0.82);
    cat-mantle: rgba(24, 24, 37, 0.90);
    cat-crust: rgba(17, 17, 27, 0.95);
    cat-surface0: rgba(49, 50, 68, 0.55);
    cat-surface1: rgba(69, 71, 90, 0.70);
    cat-text: #cdd6f4;
    cat-subtext: #a6adc8;

    /* Wallust Dynamic Accents */
    accent-primary: #C68AEE;
    accent-secondary: #F1CF8A;
    accent-active: #E05F65;
    accent-cyan: #B59B67;

    active-background: #C68AEE;
    active-foreground: #11111b;
    normal-background: transparent;
    normal-foreground: #cdd6f4;
    urgent-background: #E05F65;
    urgent-foreground: #11111b;

    alternate-active-background: transparent;
    alternate-active-foreground: #C68AEE;
    alternate-normal-background: transparent;
    alternate-normal-foreground: #cdd6f4;
    alternate-urgent-background: transparent;
    alternate-urgent-foreground: #E05F65;

    selected-active-background: #C68AEE;
    selected-active-foreground: #11111b;
    selected-normal-background: #C68AEE;
    selected-normal-foreground: #11111b;
    selected-urgent-background: #E05F65;
    selected-urgent-foreground: #11111b;

    background-color: transparent;
    background: @cat-base;
    background-alt: @cat-surface0;
    foreground: #cdd6f4;
    border-color: rgba(198,138,238, 0.35);

color0: #3B3B3C;
color1: #0D0F13;
color2: #373E4B;
color3: #A8474C;
color4: #9568B3;
color5: #858E99;
color6: #B59B67;
color7: #F0DFBC;
color8: #A89C84;
color9: #111419;
color10: #495364;
color11: #E05F65;
color12: #C68AEE;
color13: #B1BDCC;
color14: #F1CF8A;
color15: #F0DFBC;


}

